# Libraries
*.lvlibp


# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.db

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/
.DS_Store


# Build Specs

src/LabVIEW/Test Project/PantherScan.My Computer.bin
